.box {
  width: 100px;
  height: 100px;
  background: red;
  animation-name: grow;
  border: 2px solid black;

  animation-fill-mode: both;
  animation: grow 1s ease 0s infinite alternate;
}

@keyframes grow {
  from {
    width: 100px;
    height: 100px;
    background: red;
  }
  to {
    width: 10px;
    height: 10px;
    background: blue;
  }
}
