* {
  box-sizing: border-box;
  margin: 0;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/madara.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  animation: expand-filler 1.5s ease-out 0s 1 normal both;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin: 0px 10px;
  opacity: 0;
  color: white;
  animation: filler 1.5s ease-out 1.8s 1 normal both;
}

@keyframes expand-filler {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 100%;
  }
}

@keyframes filler {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
